@font-face {
  font-family: 'AMSTERDAM';
  src: url('fonts/AMSTERDAM.TTF');
}

@font-face {
  font-family: 'SPRAY LETTERS';
  src: url('fonts/SPRAY LETTERS.OTF');
}

body {
  background: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
